# Copy this file to .env and fill in your values

# PostgreSQL
POSTGRESQL_HOSTNAME=pg-df121ec-wzhe-cm3070.d.aivencloud.com
POSTGRESQL_PORT=12759
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_SCHEMA=defaultdb
DATABASE_URL="postgresql://${POSTGRESQL_USER}:${POSTGRESQL_PASSWORD}@${POSTGRESQL_HOSTNAME}:${POSTGRESQL_PORT}/${POSTGRESQL_SCHEMA}"

#Resend
AUTH_RESEND_KEY=abc123


BETTER_AUTH_SECRET=xxx

# Internal Fastify API base URL (used by the Next.js proxy)
API_URL=http://localhost:4000
